<div class="container">
 <div class="row justify-content-center">
     <div class="col-sm-12 col-lg-4">
          <img src="../../../assets/kenko_status_await.gif" class="img-fluid kenko-window" alt="けんこちゃんサムネ"> 
     </div>
     <div class="col-sm-10 col-lg-7 text-center">
         <p>Seems like you are lost...</p>
         <h2>Hi, I am here to help!</h2>
         <h2>click on the button below...</h2>
         <a class="btn btn-outline-dark mt-5" roll="button" routerLink="/home"> Topへ戻る </a>
     </div>
 </div>
</div>
