<div class="container-fluid kenko-bg">
    <a class="btn btn-outline-dark stay-right" roll="button" routerLink ="/..."> > </a>
    <a class="btn btn-outline-dark stay-left" roll="button" routerLink="/..."> < </a>
	<div class="row">
		<div class ="col-xs-6 col-lg-6 mt-5">
			<app-gauge></app-gauge>
		</div>
		<div class="col-xs-6 col-lg-6">
			<app-line-chart></app-line-chart>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-xs-6 col-lg-6">
			
		</div>
		<div class="col-xs-6 col-lg-6">
			<app-rader-chart></app-rader-chart>
		</div>
	</div>
</div>
